.close {
  cursor: pointer;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date] {
  font-size: 0.9em;
}

.preview {
  max-height: 13vh;
  max-width: 13vw;
  padding: 2% 2% 0;
}

@media (max-width: 1000px) {
  .table {
    font-size: 0.7em;
  }
}
