<div class="modal-header">
  <h4 class="modal-title">Add a new car</h4><a class="close" role="button" (click)="close()">×</a>
</div>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="modal-body">
  <div class="row">
    <div class="form-group col-8">
      <label for="image">Image:</label>
      <input type="text" name="imagePath" id="image" class="form-control" placeholder="Enter the address of the image" ngModel>
    </div>
    <div class="col-4">
      <img class="preview float-right" [src]="f.value.imagePath">
    </div>
  </div>
  <div class="table">
    <div class="row">
      <div class="col">Model: </div>
      <div class="col">
        <input type="text" name="model" class="form-control" placeholder="Enter car model" required ngModel>
      </div>
      <div class="col">Doors: </div>
      <div class="col">
        <input type="number" min="1" name="doors" class="form-control" placeholder="Enter amount of doors" required ngModel>
      </div>
      <div class="col">State: </div>
      <div class="col">
        <select name="carType" class="form-control" required ngModel="{{carType}}">
          <option *ngFor="let carType of carTypes" [value]="carType">{{carType | titlecase}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">Numberplate: </div>
      <div class="col">
        <input type="text" name="numberplate" class="form-control" placeholder="Enter numberplate" required ngModel>
      </div>
      <div class="col">Brand: </div>
      <div class="col">
        <input type="text" name="brand" class="form-control" placeholder="Enter car brand" required ngModel>
      </div>
      <div class="col">Body: </div>
      <div class="col">
        <select name="bodyType" class="form-control" required ngModel="{{bodyType}}">
          <option *ngFor="let bodyType of bodyTypes" [value]="bodyType">{{bodyType | titlecase}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">Mileage: </div>
      <div class="col">
        <input type="number" min="1" name="mileage" class="form-control" placeholder="Enter mileage" required ngModel>
      </div>
      <div class="col">Motor: </div>
      <div class="col">
        <input type="text" name="motorType" class="form-control" placeholder="Enter motor type" ngModel>
      </div>
      <div class="col">Options: </div><div class="col">
      <input type="text" name="options" class="form-control" placeholder="Enter options" ngModel>
    </div>
    </div>
    <div class="row">
      <div class="col">Horsepower: </div>
      <div class="col">
        <input type="number" min="1" name="horsepower" class="form-control" placeholder="Enter horsepower" ngModel>
      </div>
      <div class="col">Transmission: </div>
      <div class="col">
        <select name="transmission" class="form-control" required ngModel="{{transmission}}">
          <option *ngFor="let transmission of transmissions" [value]="transmission">{{transmission | titlecase}}</option>
        </select>
      </div>
      <div class="col">Seats: </div><div class="col">
      <input type="number" min="2" name="seats" class="form-control" placeholder="Enter amount seats" required ngModel>
    </div>
    </div>
    <div class="row">
      <div class="col">Fuel: </div>
      <div class="col">
        <select name="fuelType" class="form-control" required ngModel="{{fuelType}}">
          <option *ngFor="let fuelType of fuelTypes" [value]="fuelType">{{fuelType | titlecase}}</option>
        </select>
      </div>
      <div class="col">Gears: </div>
      <div class="col">
      <input type="number" min="1" name="gears" class="form-control" placeholder="Enter amount gears" required ngModel>
    </div>
      <div class="col">Build year: </div>
      <div class="col">
        <input type="number" min="1950" name="buildYear" class="form-control" placeholder="Enter build year" required ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col">Energy label: </div>
      <div class="col">
        <select name="energyLabel" class="form-control" ngModel="{{energyLabel}}">
          <option *ngFor="let energyLabel of energyLabels" [value]="energyLabel">{{energyLabel | titlecase}}</option>
        </select>
      </div>
      <div class="col">APK: </div><div class="col">
      <input type="date" name="apk" class="form-control" placeholder="Enter APK" ngModel>
    </div>
      <div class="col">Price: </div>
      <div class="col">
        <input type="number" min="1" name="price" class="form-control" step="any" placeholder="Enter price" required ngModel>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-dark">Add car</button>
</div>
</form>
