<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">Home</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cars">Cars</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shoppingcart"><img class="cart" src="../../assets/images/shoppingcart.png"></a>
      </li>
      <li class="nav-item dropdown">
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button class="btn" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Account</button>
          <div *ngIf="isLoggedIn()" ngbDropdownMenu>
            <a routerLink="/userdata" ngbDropdownItem>Userdata</a>
            <a routerLink="/orders" ngbDropdownItem>My orders</a>
            <a routerLink="/" ngbDropdownItem (click)="destroySession()">Log out</a>
          </div>
          <div *ngIf="!isLoggedIn()" ngbDropdownMenu aria-labelledby="dropdownManual">
            <a routerLink="/login" ngbDropdownItem>Log in</a>
            <a routerLink="/register" ngbDropdownItem>Register</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

