.img-thumbnail {
  max-width: 20vw;
}

.badge {
font-size: 1em;
}

ul {
  max-height: 72vh;
  overflow-y: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}

.container {
  padding: 0 2% 0;
}

.amount {
  max-width: 50%;
}

.row {
  padding: 2% 0 2% 2%;
}

@media (max-width: 1000px) {

  .img-thumbnail {
    max-width: 100%;
  }

  .d-flex {
    display: block !important;
  }

  ul {
    font-size: 0.8em;
    max-height: 78vh;
  }

  h3 {
    font-size: 1.5em;
  }

}
