<div class="container">
  <div class="container" align="center">
    <img class="img-responsive home-image" src="https://i.kym-cdn.com/entries/icons/mobile/000/026/561/car.jpg" alt="Home image">
  </div>
  <br>
  <p align="center">
    Hi there!<br><br>
    Welcome to the website of Cars&More.<br>
    Here on our website you can buy cars and all the necessary accessories.<br>
    You can also arrange an appointment to service your car, for example to change the tires.<br><br>
    Have a look around and dont forget to create an account!
  </p>
</div>
