<div class="container-fluid">
  <div class="img-responsive img-centered">
    <img class="car-item-img" [src]="car.imagePath">
  </div>
  <table class="table-striped table-responsive">
    <tr>
      <td>Model: </td><td>{{ car.model }}</td><td>Doors: </td><td>{{ car.doors }}</td>
    </tr>
    <tr>
      <td>State: </td><td>{{ car.carType }}</td><td>Numberplate: </td><td>{{ car.numberplate }}</td>
    </tr>
    <tr>
      <td>Brand: </td><td>{{ car.brand }}</td><td>Body: </td><td>{{ car.bodyType }}</td>
    </tr>
    <tr>
      <td>Mileage: </td><td>{{ car.mileage }}</td><td>Motor: </td><td>{{ car.motorType }}</td>
    </tr>
    <tr>
      <td>Options: </td><td>{{ car.options }}</td><td>Horsepower: </td><td>{{ car.horsepower }}</td>
    </tr>
    <tr>
      <td>Transmission: </td><td>{{ car.transmission }}</td><td>Seats: </td><td>{{ car.seats }}</td>
    </tr>
    <tr>
      <td>Fuel: </td><td>{{ car.fuelType }}</td><td>Gears: </td><td>{{ car.gears }}</td>
    </tr>
    <tr>
      <td>Build year: </td><td>{{ car.buildyear }}</td><td>Energylabel: </td><td>{{ car.energyLabel }}</td>
    </tr>
    <tr>
      <td>Options: </td><td>{{ car.options }}</td><td>APK: </td><td>{{ car.APK }}</td>
    </tr>
  </table>
</div>
